.btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    &-remove > svg,
    &-edit > svg,
    &-save > svg {
        width: 20px;
        height: 20px;
    }
}
