@import '../../common-styles/variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  &__data {
    border: 1px solid $border-color;
    padding: 10px;
    box-sizing: border-box;
    height: 66px;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    &--name {
      width: 40%;
    }

    &--mail,
    &--phone,
    &--actions {
      width: 20%;
      text-align: center;
    } 
  }
}